/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* MY CODE*/

.dropdown-nav {
    display: block;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: larger;
}
.dropdown {
    display: block;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav {
    font-family: monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
  

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

img {
    margin: auto;
}

.size-checkbox {
    padding: 10px;
}
.size-dropdown-menu {
    width: 310px !important;
}
.item-for-sale {
    margin-left: auto;
    margin-right: auto;
}
    .item-for-sale:hover {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }
.item-picture {
    max-width: 240px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

        /* On mouse-over */
        .sidenav a:hover, .dropdown-btn:hover {
            color: #f1f1f1;
        }

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.imageBox:hover .hoverImg {
    display: block;
}
.imageBox {
    position: relative;
    float: left;
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}
