@model BrandVille.Models.Result

@{
    ViewData["Title"] = "BrandVille";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-2">
        <ul class="row justify-content-sm-around">
            <li class="col-sm-12">
                <div class="dropdown-nav col-12" style="border-bottom: 1px solid #e1e1e1">
                    Gender
                </div>
                <div class="dropdown side-dropdown-desktop" style="padding-top: 1rem">
                    <div class="col-12">
                        <div class="dropdown-item">
                            <input id="genderMale1" name="filters[gender][]" type="checkbox" value="1" />
                            <label for="genderMale" style="height: inherit; width: inherit">Gentlemen</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="dropdown-item">
                            <input id="genderFemale1" name="filters[gender][]" type="checkbox" value="2" />
                            <label for="genderFemale" style="height: inherit; width: inherit">Ladies</label>
                        </div>
                    </div>
                </div>
                <ul class="dropdown-menu side-dropdown-mobile" style="padding-top: 1rem;">
                    <li class="col-12">
                        <div class="dropdown-item">
                            <input id="genderMale" name="filters[gender][]" type="checkbox" value="1" />
                            <label for="genderMale" style="height: inherit; width: inherit">Gentlemen</label>
                        </div>
                    </li>
                    <li class="col-12">
                        <div class="dropdown-item">
                            <input id="genderFemale" name="filters[gender][]" type="checkbox" value="2" />
                            <label for="genderFemale" style="height: inherit; width: inherit">Ladies</label>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="col-sm-12">
                <div class="dropdown-nav col-12" style="border-bottom: 1px solid #e1e1e1">
                    Categories
                </div>
                <div class="dropdown side-dropdown-desktop" style="padding-top: 1rem">
                    <div class="col-12">
                        <a class="dropdown-item" href="#">
                            <input id="clothes" name="filters[category][]" type="checkbox" value="c_1" />
                            <label for="clothes" style="height: inherit; width: inherit">Clothes</label>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="dropdown-item" href="#">
                            <input id="shoes" name="filters[category][]" type="checkbox" value="c_2" />
                            <label for="shoes" style="height: inherit; width: inherit">Shoes</label>
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="dropdown-item" href="#">
                            <input id="accessories" name="filters[category][]" type="checkbox" value="c_3" />
                            <label for="accessories" style="height: inherit; width: inherit">Accessories</label>
                        </a>
                    </div>
                </div>
                <ul class="dropdown-menu side-dropdown-mobile" style="padding-top: 1rem">
                    <li class="col-12">
                        <a class="dropdown-item" href="#">
                            <input id="clothes" name="filters[category][]" type="checkbox" value="c_1" />
                            <label for="clothes" style="height: inherit; width: inherit">Clothes</label>
                        </a>
                    </li>
                    <li class="col-12">
                        <a class="dropdown-item" href="#">
                            <input id="shoes" name="filters[category][]" type="checkbox" value="c_2" />
                            <label for="shoes" style="height: inherit; width: inherit">Shoes</label>
                        </a>
                    </li>
                    <li class="col-12">
                        <a class="dropdown-item" href="#">
                            <input id="accessories" name="filters[category][]" type="checkbox" value="c_3" />
                            <label for="accessories" style="height: inherit; width: inherit">Accessories</label>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-10" style="height: 90vh">
        <div style="padding-bottom: 1rem" role="navigation">
            <ul class="row justify-content-sm-around">
                <li class="col-sm-1">
                    <div class="dropdown-nav" style="border-bottom:1px solid #e1e1e1">
                        Brands
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="luxury" name="filters[brandType][]" type="checkbox" value="1" />
                                <label for="luxury" style="height: inherit; width: inherit">Luxury brands</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="middle" name="filters[brandType][]" type="checkbox" value="2" />
                                <label for="middle" style="height: inherit; width: inherit">Middle brands</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="economy" name="filters[brandType][]" type="checkbox" value="3" />
                                <label for="economy" style="height: inherit; width: inherit">Economy brands</label>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" col-sm-1">
                    <div class="dropdown-nav" style="border-bottom:1px solid #e1e1e1">
                        Sizes
                    </div>
                    <ul class="dropdown-menu size-dropdown-menu">
                        <li>
                            <div class="dropdown-header">
                                Clothes Sizes
                            </div>
                            <div class="dropdown-item">
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-7" type="checkbox" name="" value="7">
                                    <label for="size-7">XXS</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-8" type="checkbox" name="" value="8">
                                    <label for="size-8">XS</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-9" type="checkbox" name="" value="9">
                                    <label for="size-9">S</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-10" type="checkbox" name="" value="10">
                                    <label for="size-10">M</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-1" type="checkbox" name="" value="1">
                                    <label for="size-1">L</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-2" type="checkbox" name="" value="2">
                                    <label for="size-2">XL</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-6" type="checkbox" name="" value="6">
                                    <label for="size-6">XXL</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-11" type="checkbox" name="" value="11">
                                    <label for="size-11">3XL</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-12" type="checkbox" name="" value="12">
                                    <label for="size-12">4XL</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-25" type="checkbox" name="" value="25">
                                    <label for="size-25">5XL</label>
                                </div>
                                <div class="size-checkbox float-left">
                                    <input name="filters[size][]" id="size-26" type="checkbox" name="" value="26">
                                    <label for="size-26">6XL</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="col-sm-1" style="margin-right: 1rem">
                    <div class="dropdown-nav" style="border-bottom:1px solid #e1e1e1">
                        Discount
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="0to30" name="filters[discount][]" type="checkbox" value="1" />
                                <label for="0to30" style="height: inherit; width: inherit">0% to 30%</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="30to60" name="filters[discount][]" type="checkbox" value="2" />
                                <label for="30to60" style="height: inherit; width: inherit">30% to 60%</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="over60" name="filters[discount][]" type="checkbox" value="3" />
                                <label for="over60" style="height: inherit; width: inherit">over 60%</label>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" col-sm-1">
                    <div class="dropdown-nav" style="border-bottom:1px solid #e1e1e1">
                        Season
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="seasonSummer" type="checkbox" name="filters[season][]" value="1" />
                                <label for="seasonSummer" style="height: inherit; width: inherit">Summer</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="seasonFall" type="checkbox" name="filters[season][]" value="2" />
                                <label for="seasonFall" style="height: inherit; width: inherit">Spring/Fall</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="seasonWinter" type="checkbox" name="filters[season][]" value="3" />
                                <label for="seasonWinter" style="height: inherit; width: inherit">Winter</label>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" col-sm-1">
                    <div class="dropdown-nav" style="border-bottom:1px solid #e1e1e1">
                        Condition
                    </div>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="conditionNew" type="checkbox" name="filters[condition][]" value="withLabel" />
                                <label for="conditionNew" style="height: inherit; width: inherit">New</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="conditionGreat" type="checkbox" name="filters[condition][]" value="5" />
                                <label for="conditionGreat" style="height: inherit; width: inherit">Great</label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input id="conditionGood" type="checkbox" name="filters[condition][]" value="4" />
                                <label for="conditionGood" style="height: inherit; width: inherit">Good</label>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row" id="items" style="overflow: hidden">
            <partial name="Items" model="@Model" />
        </div>
    </div>
    <div class="row" style="margin: 1rem; position: absolute; bottom: 15px" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <button class="btn page-number btn-info" value="1"><<</button>
            </li>
            <li class="page-item">
                <button class="btn page-number btn-info" value="2">1</button>
            </li>
            <li class="page-item">
                <button class="btn page-number btn-info" value="2">2</button>
            </li>
            <li class="page-item">
                <button class="btn page-number btn-info" value="3">3</button>
            </li>
            <li class="page-item">
                <button class="btn page-number btn-info" value="4">4</button>
            </li>
            <li class="page-item">
                <button class="btn page-number btn-info" value="5">5</button>
            </li>
            <li class="page-item">
                <button class="btn page-number btn-info" value="6">>></button>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('input').click(function () {
            var completeData = "";
            if ($(this).hasClass("checked")) {
                $(this).removeClass("checked");
            } else {
                $(this).addClass("checked");
            }
            $('input:checkbox.checked').each(function () {
                var value = $(this).attr('name') + "=" + $(this).val();
                if (completeData === "") {
                    completeData = value;
                } else {
                    completeData = completeData + ">" + $(this).attr('name') + "=" + $(this).val();
                }
            });
            $('#items').load('Home/Items', "CompleteData=" + completeData);
        });
        $('#button1').val($('#pageNumber').val());
        $('#button1').innerHTML = $('#pageNumber').val();
        $('.page-number').click(function () {
            var completeData = "";
            $('input:checkbox.checked').each(function () {
                var value = $(this).attr('name') + "=" + $(this).val();
                if (completeData === "") {
                    completeData = value;
                } else {
                    completeData = completeData + ">" + $(this).attr('name') + "=" + $(this).val();
                }
            });
            $('#items').load('Home/Items', "CompleteData=" + completeData + "&PageNumber=" + $(this).val());
        });
    });
</script>
